// path for fontawesome
$fa-font-path:        "../fonts";

$fonts:(
    "ttr":      ("freight-big-pro", serif),
    "sttr":     ("freight-big-pro-book", serif),
    "para":     ("Open Sans", sans-serif),
);

$padding: 75px;

$light: #f4f3ef;
$dark: #404447;
$primary:      #ca9a8e;
$secondary:    #849994;